# ######## Python Bytecode ########################
__pycache__/
*.pyc
*.pyo
*.pyd

# ## Tool Caches ##################################
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# ## Virtual Environments #########################
.env
.venv/
venv/
env/
ENV/

# ## mazegen Package Build ########################
dist/
build/
*.egg-info/
*.egg

# ## Generated Output File ########################
maze.txt

